name: cicd

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout
      uses: actions/checkout@v4
   
    - name: Setup .Net
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0'
    
    - name: Restore dependencies
      run: dotnet restore ./Vladify

    - name: Build
      run: dotnet build ./Vladify --no-restore --configuration Release
  